.button {
  padding: 0.7rem 1rem;
  border: 1px solid var(--main-color);
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

.container {
  background-color: var(--main-color);
  color: #fff;
}

.outline {
  background-color: #fff;
  color: var(--main-color);
}
