@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #a27b5c;
  --secondary-color: #fcf7ef;
}

.ant-tabs-nav {
  border-block: 1px solid rgb(204, 204, 204);
  padding-inline: 10%;

  @media (min-width: 1800px) {
    padding-inline: 15%;
  }

  @media (max-width: 1200px) {
    padding-inline: 2%;
  }
}

body, html {
  overflow: hidden
}

.ant-tabs-nav-list {
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
  text-transform: uppercase;
}

.layout-homepage {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.content-container {
  width: 100%;
  height: 100vh;
  background-color: #F0F2F3;
  overflow-y: auto;
}
