.container {
  background-color: #121212;
  color: #fff;
  padding-top: 5rem;
  text-align: center;

  & p {
    line-height: 1.6;
  }

  & hr {
    margin-block: 2rem;
  }

  & .icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 5rem;

    & i {
      margin-right: 1rem;
    }
  }

  & .copy_righter {
    display: flex;
    justify-content: space-between;
    color: #a27b5c;
    padding-bottom: 1rem;
  }
}
