.container {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  align-items: center;

  & .shop_title {
    color: var(--main-color);
    font-family: "Fleur De Leah", cursive;
    font-size: 3rem;
  }

  & .top_bar {
    display: flex;
    align-items: center;

    & .actions {
      display: flex;
      justify-content: space-between;

      & button {
        margin-inline: 0.5rem;
      }
    }
  }

  & .nav {
    list-style-type: none;
    display: flex;

    & .nav_item {
      margin-inline: 1rem;
      text-decoration: none;
      color: black;
    }

    & .item_active {
      color: var(--main-color);
      border-bottom: 2px solid var(--main-color);
    }
  }

  @media (max-width: 992px) {
    & .nav {
      display: none;
    }
  }
}
